.svg-filter-hide {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    height: 0;
    width: 0;
}

@keyframes drawVision {
    0%,
    100% {
        filter: url('#filterSquiggle1');
    }
    25% {
        filter: url('#filterSquiggle2');
    }
    50% {
        filter: url('#filterSquiggle3');
    }
    75% {
        filter: url('#filterSquiggle4');
    }
}

body {
    animation: drawVision 0.3s infinite;
}
