.navbar {
    background-color: #FFB2A6;
}

.navbar-btn, .navbar-btn:hover{
    background-color: #00000020;
    border-radius: 1em;
}

.animation-disabled, .animation-disabled:hover {
    background-color: #00000080;
}