#songsRoot {
    min-width: 100%;
    min-height: 95vh;
}

.main {
    margin: auto;
}

#addButton {
    position: sticky;
    bottom: 5vh;
    left: 93.5vw;
}

#addButton>img {
    background-color: #00000033;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.appBackground {
    background-color: #9ADCFF;
    min-height: 100vh;
}